In [2]:
#import dependencies
import pandas as pd
from datetime import datetime

In [3]:
#call up tsa data
tsa_data="Resources/tsa_data.csv"
tsa = pd.read_csv(tsa_data)
#change date formatting for consistency
tsa['Date']=pd.to_datetime(tsa['Date'].astype(str), format='%m/%d/%Y')
#changed numbers into floats
tsa["Total Traveler Throughput 2020"] = tsa["Total Traveler Throughput 2020"].str.replace(',','')
tsa["Total Traveler Throughput 2020"] = tsa["Total Traveler Throughput 2020"].astype(float)
tsa["Total Traveler Throughput 2019"] = tsa["Total Traveler Throughput 2019"].str.replace(',','')
tsa["Total Traveler Throughput 2019"] = tsa["Total Traveler Throughput 2019"].astype(float)
tsa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Date                            276 non-null    datetime64[ns]
 1   Total Traveler Throughput 2020  276 non-null    float64
 2   Total Traveler Throughput 2019  276 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 6.6 KB

In [4]:
#prepare tsa file for merge with NYT data
passenger_numbers_2020 = tsa.loc[:,["Date","Total Traveler Throughput 2020"]]
passenger_numbers_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Date                            276 non-null    datetime64[ns]
 1   Total Traveler Throughput 2020  276 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 4.4 KB

In [5]:
#change date to number string
numbered_tsa = passenger_numbers_2020
numbered_tsa["Date"]=numbered_tsa["Date"].astype(str)
numbered_tsa['Date']=numbered_tsa['Date'].str.replace('-','')
numbered_tsa['Date']=numbered_tsa['Date'].astype(float)
#limited dates to match with those from nyt dataset
numbered_tsa = numbered_tsa.loc[numbered_tsa["Date"]<20200729]
numbered_tsa

           Date  Total Traveler Throughput 2020
0    20200301.0                       2280522.0
1    20200302.0                       2089641.0
2    20200303.0                       1736393.0
3    20200304.0                       1877401.0
4    20200305.0                       2130015.0
..          ...                             ...
145  20200724.0                        724770.0
146  20200725.0                        649027.0
147  20200726.0                        751205.0
148  20200727.0                        700043.0
149  20200728.0                        536756.0

[150 rows x 2 columns]

In [6]:
#load and setup NYT data into dataframe
nyt_data="Resources/covid_19_state_level_data.csv"
nyt = pd.read_csv(nyt_data)

In [7]:
#edit nyt data to only include relevant info
curated_nyt = nyt.loc[:,["date","state","cases"]]
curated_nyt = curated_nyt.rename(columns={"date":"Date"})
curated_nyt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    8154 non-null   object
 1   state   8154 non-null   object
 2   cases   8154 non-null   int64
dtypes: int64(1), object(2)
memory usage: 191.2+ KB

In [8]:
#change date into float
numbered_nyt = curated_nyt
numbered_nyt['Date']=numbered_nyt['Date'].str.replace('-','')
numbered_nyt['Date']=numbered_nyt['Date'].astype(float)
numbered_nyt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    8154 non-null   float64
 1   state   8154 non-null   object
 2   cases   8154 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 191.2+ KB

In [9]:
#set up nyt dates to match tsa dates
tsa_numbered_nyt = numbered_nyt.loc[numbered_nyt["Date"]>20200230]
tsa_numbered_nyt.head()

           Date          state  cases
240  20200301.0        Arizona      1
241  20200301.0     California     33
242  20200301.0        Florida      2
243  20200301.0       Illinois      3
244  20200301.0  Massachusetts      1

In [10]:
#group by state to get total case number for comparison and make new column of sums
tsa_numbered_nyt["Total Cases"] = tsa_numbered_nyt.groupby(["Date"])["cases"].transform("sum")
#make a new dataframe of just date and total cases and drop duplicates
nyt_nationwide = tsa_numbered_nyt.loc[:,["Date","Total Cases"]]
nyt_nationwide = nyt_nationwide.drop_duplicates()
#Make a new column of rate of change in total cases using .diff
nyt_nationwide["Case Rate of Change"]= nyt_nationwide["Total Cases"].diff()
nyt_nationwide

C:\Users\jekor\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            Date  Total Cases  Case Rate of Change
240   20200301.0           88                  NaN
253   20200302.0          104                 16.0
268   20200303.0          125                 21.0
284   20200304.0          161                 36.0
301   20200305.0          228                 67.0
...          ...          ...                  ...
7879  20200724.0      4123651              73525.0
7934  20200725.0      4190422              66771.0
7989  20200726.0      4244634              54212.0
8044  20200727.0      4303813              59179.0
8099  20200728.0      4366922              63109.0

[150 rows x 3 columns]

In [11]:
airport_data = "Resources/covid_impact_on_airport_traffic.csv"
airport = pd.read_csv(airport_data)
airport.head()

,AggregationMethod,Date,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
0,Daily,2020-07-05,1.0,Kingsford Smith,52,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
1,Daily,2020-05-28,1.0,Kingsford Smith,61,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
2,Daily,2020-05-07,1.0,Kingsford Smith,62,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
3,Daily,2020-06-24,1.0,Kingsford Smith,58,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."
4,Daily,2020-08-05,1.0,Kingsford Smith,20,POINT(151.180087713813 -33.9459774986125),Sydney,New South Wales,AU,Australia,"POLYGON((151.164354085922 -33.9301772341877, 1..."

In [12]:
#remove not relevant columns from airport data
us_airport_data = airport[airport["Country"]=="United States of America (the)"]
us_airport_data.head()

,AggregationMethod,Date,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
2294,Daily,2020-05-06,1.0,Los Angeles International,66,POINT(-118.404993180627 33.941369379328),Los Angeles,California,US-CA,United States of America (the),"POLYGON((-118.439612388611 33.9517616366508, -..."
2295,Daily,2020-07-04,1.0,Los Angeles International,36,POINT(-118.404993180627 33.941369379328),Los Angeles,California,US-CA,United States of America (the),"POLYGON((-118.439612388611 33.9517616366508, -..."
2296,Daily,2020-09-24,1.0,Los Angeles International,78,POINT(-118.404993180627 33.941369379328),Los Angeles,California,US-CA,United States of America (the),"POLYGON((-118.439612388611 33.9517616366508, -..."
2297,Daily,2020-10-05,1.0,Los Angeles International,78,POINT(-118.404993180627 33.941369379328),Los Angeles,California,US-CA,United States of America (the),"POLYGON((-118.439612388611 33.9517616366508, -..."
2298,Daily,2020-07-30,1.0,Los Angeles International,70,POINT(-118.404993180627 33.941369379328),Los Angeles,California,US-CA,United States of America (the),"POLYGON((-118.439612388611 33.9517616366508, -..."

In [13]:
#continue removing not relevant columns
curated_airport_data = us_airport_data.loc[:,["Date","AirportName","State","PercentOfBaseline"]]
curated_airport_data.head()

            Date                AirportName       State  PercentOfBaseline
2294  2020-05-06  Los Angeles International  California                 66
2295  2020-07-04  Los Angeles International  California                 36
2296  2020-09-24  Los Angeles International  California                 78
2297  2020-10-05  Los Angeles International  California                 78
2298  2020-07-30  Los Angeles International  California                 70

In [15]:
combined_total_data = pd.merge(numbered_tsa,nyt_nationwide, how="left",on="Date")
for i in [-15,-14,-13,-12,-11,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]:
    combined_total_data[i]=combined_total_data["Total Cases"].shift(i)
combined_total_data.head()

,Date,Total Traveler Throughput 2020,Total Cases,Case Rate of Change,-15,-14,-13,-12,-11,-10,...,6,7,8,9,10,11,12,13,14,15
0,20200301.0,2280522.0,88,NaN,4507.0,3600.0,2898.0,2224.0,1668.0,1263.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20200302.0,2089641.0,104,16.0,5906.0,4507.0,3600.0,2898.0,2224.0,1668.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20200303.0,1736393.0,125,21.0,8350.0,5906.0,4507.0,3600.0,2898.0,2224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20200304.0,1877401.0,161,36.0,12393.0,8350.0,5906.0,4507.0,3600.0,2898.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20200305.0,2130015.0,228,67.0,18012.0,12393.0,8350.0,5906.0,4507.0,3600.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
combined_total_data.tail(50)

,Date,Total Traveler Throughput 2020,Total Cases,Case Rate of Change,-15,-14,-13,-12,-11,-10,...,6,7,8,9,10,11,12,13,14,15
100,20200609.0,338382.0,1990143,18804.0,2396926.0,2359937.0,2324879.0,2294413.0,2268034.0,2236009.0,...,1861695.0,1841716.0,1820930.0,1799036.0,1778402.0,1755005.0,1730458.0,1707990.0,1689249.0,1670360.0
101,20200610.0,386969.0,2013298,23155.0,2438099.0,2396926.0,2359937.0,2324879.0,2294413.0,2268034.0,...,1883309.0,1861695.0,1841716.0,1820930.0,1799036.0,1778402.0,1755005.0,1730458.0,1707990.0,1689249.0
102,20200611.0,502209.0,2036500,23202.0,2483625.0,2438099.0,2396926.0,2359937.0,2324879.0,2294413.0,...,1912006.0,1883309.0,1861695.0,1841716.0,1820930.0,1799036.0,1778402.0,1755005.0,1730458.0,1707990.0
103,20200612.0,519304.0,2061993,25493.0,2525929.0,2483625.0,2438099.0,2396926.0,2359937.0,2324879.0,...,1934522.0,1912006.0,1883309.0,1861695.0,1841716.0,1820930.0,1799036.0,1778402.0,1755005.0,1730458.0
104,20200613.0,437119.0,2087327,25334.0,2565007.0,2525929.0,2483625.0,2438099.0,2396926.0,2359937.0,...,1953138.0,1934522.0,1912006.0,1883309.0,1861695.0,1841716.0,1820930.0,1799036.0,1778402.0,1755005.0
105,20200614.0,544046.0,2106457,19130.0,2604924.0,2565007.0,2525929.0,2483625.0,2438099.0,2396926.0,...,1971339.0,1953138.0,1934522.0,1912006.0,1883309.0,1861695.0,1841716.0,1820930.0,1799036.0,1778402.0
106,20200615.0,534528.0,2126574,20117.0,2653319.0,2604924.0,2565007.0,2525929.0,2483625.0,2438099.0,...,1990143.0,1971339.0,1953138.0,1934522.0,1912006.0,1883309.0,1861695.0,1841716.0,1820930.0,1799036.0
107,20200616.0,417924.0,2151459,24885.0,2703296.0,2653319.0,2604924.0,2565007.0,2525929.0,2483625.0,...,2013298.0,1990143.0,1971339.0,1953138.0,1934522.0,1912006.0,1883309.0,1861695.0,1841716.0,1820930.0
108,20200617.0,441829.0,2177114,25655.0,2758851.0,2703296.0,2653319.0,2604924.0,2565007.0,2525929.0,...,2036500.0,2013298.0,1990143.0,1971339.0,1953138.0,1934522.0,1912006.0,1883309.0,1861695.0,1841716.0
109,20200618.0,576514.0,2205173,28059.0,2815374.0,2758851.0,2703296.0,2653319.0,2604924.0,2565007.0,...,2061993.0,2036500.0,2013298.0,1990143.0,1971339.0,1953138.0,1934522.0,1912006.0,1883309.0,1861695.0
110,20200619.0,587908.0,2236009,30836.0,2866014.0,2815374.0,2758851.0,2703296.0,2653319.0,2604924.0,...,2087327.0,2061993.0,2036500.0,2013298.0,1990143.0,1971339.0,1953138.0,1934522.0,1912006.0,1883309.0
111,20200620.0,507129.0,2268034,32025.0,2910780.0,2866014.0,2815374.0,2758851.0,2703296.0,2653319.0,...,2106457.0,2087327.0,2061993.0,2036500.0,2013298.0,1990143.0,1971339.0,1953138.0,1934522.0,1912006.0
112,20200621.0,590456.0,2294413,26379.0,2958095.0,2910780.0,2866014.0,2815374.0,2758851.0,2703296.0,...,2126574.0,2106457.0,2087327.0,2061993.0,2036500.0,2013298.0,1990143.0,1971339.0,1953138.0,1934522.0
113,20200622.0,607540.0,2324879,30466.0,3012252.0,2958095.0,2910780.0,2866014.0,2815374.0,2758851.0,...,2151459.0,2126574.0,2106457.0,2087327.0,2061993.0,2036500.0,2013298.0,1990143.0,1971339.0,1953138.0
114,20200623.0,471421.0,2359937,35058.0,3071711.0,3012252.0,2958095.0,2910780.0,2866014.0,2815374.0,...,2177114.0,2151459.0,2126574.0,2106457.0,2087327.0,2061993.0,2036500.0,2013298.0,1990143.0,1971339.0
115,20200624.0,494826.0,2396926,36989.0,3131610.0,3071711.0,3012252.0,2958095.0,2910780.0,2866014.0,...,2205173.0,2177114.0,2151459.0,2126574.0,2106457.0,2087327.0,2061993.0,2036500.0,2013298.0,1990143.0
116,20200625.0,623624.0,2438099,41173.0,3199837.0,3131610.0,3071711.0,3012252.0,2958095.0,2910780.0,...,2236009.0,2205173.0,2177114.0,2151459.0,2126574.0,2106457.0,2087327.0,2061993.0,2036500.0,2013298.0
117,20200626.0,632984.0,2483625,45526.0,3260565.0,3199837.0,3131610.0,3071711.0,3012252.0,2958095.0,...,2268034.0,2236009.0,2205173.0,2177114.0,2151459.0,2126574.0,2106457.0,2087327.0,2061993.0,2036500.0
118,20200627.0,546310.0,2525929,42304.0,3318372.0,3260565.0,3199837.0,3131610.0,3071711.0,3012252.0,...,2294413.0,2268034.0,2236009.0,2205173.0,2177114.0,2151459.0,2126574.0,2106457.0,2087327.0,2061993.0
119,20200628.0,633810.0,2565007,39078.0,3379943.0,3318372.0,3260565.0,3199837.0,3131610.0,3071711.0,...,2324879.0,2294413.0,2268034.0,2236009.0,2205173.0,2177114.0,2151459.0,2126574.0,2106457.0,2087327.0
120,20200629.0,625235.0,2604924,39917.0,3445544.0,3379943.0,3318372.0,3260565.0,3199837.0,3131610.0,...,2359937.0,2324879.0,2294413.0,2268034.0,2236009.0,2205173.0,2177114.0,2151459.0,2126574.0,2106457.0
121,20200630.0,500054.0,2653319,48395.0,3513892.0,3445544.0,3379943.0,3318372.0,3260565.0,3199837.0,...,2396926.0,2359937.0,2324879.0,2294413.0,2268034.0,2236009.0,2205173.0,2177114.0,2151459.0,2126574.0
122,20200701.0,626516.0,2703296,49977.0,3589589.0,3513892.0,3445544.0,3379943.0,3318372.0,3260565.0,...,2438099.0,2396926.0,2359937.0,2324879.0,2294413.0,2268034.0,2236009.0,2205173.0,2177114.0,2151459.0
123,20200702.0,764761.0,2758851,55555.0,3660512.0,3589589.0,3513892.0,3445544.0,3379943.0,3318372.0,...,2483625.0,2438099.0,2396926.0,2359937.0,2324879.0,2294413.0,2268034.0,2236009.0,2205173.0,2177114.0
124,20200703.0,718988.0,2815374,56523.0,3722966.0,3660512.0,3589589.0,3513892.0,3445544.0,3379943.0,...,2525929.0,2483625.0,2438099.0,2396926.0,2359937.0,2324879.0,2294413.0,2268034.0,2236009.0,2205173.0
125,20200704.0,466669.0,2866014,50640.0,3785241.0,3722966.0,3660512.0,3589589.0,3513892.0,3445544.0,...,2565007.0,2525929.0,2483625.0,2438099.0,2396926.0,2359937.0,2324879.0,2294413.0,2268034.0,2236009.0
126,20200705.0,732123.0,2910780,44766.0,3845124.0,3785241.0,3722966.0,3660512.0,3589589.0,3513892.0,...,2604924.0,2565007.0,2525929.0,2483625.0,2438099.0,2396926.0,2359937.0,2324879.0,2294413.0,2268034.0
127,20200706.0,755555.0,2958095,47315.0,3910398.0,3845124.0,3785241.0,3722966.0,3660512.0,3589589.0,...,2653319.0,2604924.0,2565007.0,2525929.0,2483625.0,2438099.0,2396926.0,2359937.0,2324879.0,2294413.0
128,20200707.0,641761.0,3012252,54157.0,3980128.0,3910398.0,3845124.0,3785241.0,3722966.0,3660512.0,...,2703296.0,2653319.0,2604924.0,2565007.0,2525929.0,2483625.0,2438099.0,2396926.0,2359937.0,2324879.0
129,20200708.0,632498.0,3071711,59459.0,4050126.0,3980128.0,3910398.0,3845124.0,3785241.0,3722966.0,...,2758851.0,2703296.0,2653319.0,2604924.0,2565007.0,2525929.0,2483625.0,2438099.0,2396926.0,2359937.0
130,20200709.0,709653.0,3131610,59899.0,4123651.0,4050126.0,3980128.0,3910398.0,3845124.0,3785241.0,...,2815374.0,2758851.0,2703296.0,2653319.0,2604924.0,2565007.0,2525929.0,2483625.0,2438099.0,2396926.0
131,20200710.0,711124.0,3199837,68227.0,4190422.0,4123651.0,4050126.0,3980128.0,3910398.0,3845124.0,...,2866014.0,2815374.0,2758851.0,2703296.0,2653319.0,2604924.0,2565007.0,2525929.0,2483625.0,2438099.0
132,20200711.0,656284.0,3260565,60728.0,4244634.0,4190422.0,4123651.0,4050126.0,3980128.0,3910398.0,...,2910780.0,2866014.0,2815374.0,2758851.0,2703296.0,2653319.0,2604924.0,2565007.0,2525929.0,2483625.0
133,20200712.0,754545.0,3318372,57807.0,4303813.0,4244634.0,4190422.0,4123651.0,4050126.0,3980128.0,...,2958095.0,2910780.0,2866014.0,2815374.0,2758851.0,2703296.0,2653319.0,2604924.0,2565007.0,2525929.0
134,20200713.0,697985.0,3379943,61571.0,4366922.0,4303813.0,4244634.0,4190422.0,4123651.0,4050126.0,...,3012252.0,2958095.0,2910780.0,2866014.0,2815374.0,2758851.0,2703296.0,2653319.0,2604924.0,2565007.0
135,20200714.0,540268.0,3445544,65601.0,NaN,4366922.0,4303813.0,4244634.0,4190422.0,4123651.0,...,3071711.0,3012252.0,2958095.0,2910780.0,2866014.0,2815374.0,2758851.0,2703296.0,2653319.0,2604924.0
136,20200715.0,589285.0,3513892,68348.0,NaN,NaN,4366922.0,4303813.0,4244634.0,4190422.0,...,3131610.0,3071711.0,3012252.0,2958095.0,2910780.0,2866014.0,2815374.0,2758851.0,2703296.0,2653319.0
137,20200716.0,706164.0,3589589,75697.0,NaN,NaN,NaN,4366922.0,4303813.0,4244634.0,...,3199837.0,3131610.0,3071711.0,3012252.0,2958095.0,2910780.0,2866014.0,2815374.0,2758851.0,2703296.0
138,20200717.0,720378.0,3660512,70923.0,NaN,NaN,NaN,NaN,4366922.0,4303813.0,...,3260565.0,3199837.0,3131610.0,3071711.0,3012252.0,2958095.0,2910780.0,2866014.0,2815374.0,2758851.0
139,20200718.0,646654.0,3722966,62454.0,NaN,NaN,NaN,NaN,NaN,4366922.0,...,3318372.0,3260565.0,3199837.0,3131610.0,3071711.0,3012252.0,2958095.0,2910780.0,2866014.0,2815374.0
140,20200719.0,747422.0,3785241,62275.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3379943.0,3318372.0,3260565.0,3199837.0,3131610.0,3071711.0,3012252.0,2958095.0,2910780.0,2866014.0
141,20200720.0,695330.0,3845124,59883.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3445544.0,3379943.0,3318372.0,3260565.0,3199837.0,3131610.0,3071711.0,3012252.0,2958095.0,2910780.0
142,20200721.0,530421.0,3910398,65274.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3513892.0,3445544.0,3379943.0,3318372.0,3260565.0,3199837.0,3131610.0,3071711.0,3012252.0,2958095.0
143,20200722.0,570951.0,3980128,69730.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3589589.0,3513892.0,3445544.0,3379943.0,3318372.0,3260565.0,3199837.0,3131610.0,3071711.0,3012252.0
144,20200723.0,704815.0,4050126,69998.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3660512.0,3589589.0,3513892.0,3445544.0,3379943.0,3318372.0,3260565.0,3199837.0,3131610.0,3071711.0
145,20200724.0,724770.0,4123651,73525.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3722966.0,3660512.0,3589589.0,3513892.0,3445544.0,3379943.0,3318372.0,3260565.0,3199837.0,3131610.0
146,20200725.0,649027.0,4190422,66771.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3785241.0,3722966.0,3660512.0,3589589.0,3513892.0,3445544.0,3379943.0,3318372.0,3260565.0,3199837.0
147,20200726.0,751205.0,4244634,54212.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3845124.0,3785241.0,3722966.0,3660512.0,3589589.0,3513892.0,3445544.0,3379943.0,3318372.0,3260565.0
148,20200727.0,700043.0,4303813,59179.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3910398.0,3845124.0,3785241.0,3722966.0,3660512.0,3589589.0,3513892.0,3445544.0,3379943.0,3318372.0
149,20200728.0,536756.0,4366922,63109.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3980128.0,3910398.0,3845124.0,3785241.0,3722966.0,3660512.0,3589589.0,3513892.0,3445544.0,3379943.0

In [21]:
#make individual state dataframes for Georgia, California, Massachusetts, and Texas
California = curated_nyt.loc[curated_nyt["state"]=="California"]
California["Case Rate of Change"]= California["cases"].diff()
Georgia = curated_nyt.loc[curated_nyt["state"]=="Georgia"]
Georgia["Case Rate of Change"]= Georgia["cases"].diff()
Massachusetts = curated_nyt.loc[curated_nyt["state"]=="Massachusetts"]
Massachusetts["Case Rate of Change"]= Massachusetts["cases"].diff()
Texas = curated_nyt.loc[curated_nyt["state"]=="Texas"]
Texas["Case Rate of Change"]= Texas["cases"].diff()
Texas.head()

C:\Users\jekor\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\jekor\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\jekor\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\jekor\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

           Date  state  cases  Case Rate of Change
98   20200212.0  Texas      1                  NaN
105  20200213.0  Texas      2                  1.0
112  20200214.0  Texas      2                  0.0
119  20200215.0  Texas      2                  0.0
126  20200216.0  Texas      2                  0.0

In [26]:
curated_airport_data['Date']=curated_airport_data['Date'].str.replace('-','')
curated_airport_data['Date']=curated_airport_data['Date'].astype(float)
curated_airport_data.head()

            Date                AirportName       State  PercentOfBaseline
2294  20200506.0  Los Angeles International  California                 66
2295  20200704.0  Los Angeles International  California                 36
2296  20200924.0  Los Angeles International  California                 78
2297  20201005.0  Los Angeles International  California                 78
2298  20200730.0  Los Angeles International  California                 70

In [38]:
curated_airport_data=curated_airport_data.sort_values(by=["Date"])

In [39]:
#test airport df
LAX = curated_airport_data.loc[curated_airport_data["AirportName"]=="Los Angeles International"]
LAX.head()

            Date                AirportName       State  PercentOfBaseline
2405  20200316.0  Los Angeles International  California                 98
2416  20200317.0  Los Angeles International  California                 99
2497  20200318.0  Los Angeles International  California                 89
2441  20200319.0  Los Angeles International  California                 88
2329  20200320.0  Los Angeles International  California                 84

In [47]:
#create rest of airport dfs
SFO = curated_airport_data.loc[curated_airport_data["AirportName"]=="San Francisco International Airport"]
BOS =  curated_airport_data.loc[curated_airport_data["AirportName"]=="Logan International Airport"]
ATL =  curated_airport_data.loc[curated_airport_data["AirportName"]=="Hartsfield-Jackson Atlanta International"]
DFW =  curated_airport_data.loc[curated_airport_data["AirportName"]=="Dallas/Fort Worth International"]

In [41]:
#test with 1 airport and city for combined data set
LAXCA = pd.merge(California,LAX,how="inner",on="Date")

In [48]:
#finish rest of airport city merges
SFOCA = pd.merge(California,SFO,how="inner",on="Date")
BOSMA = pd.merge(Massachusetts,BOS,how="inner",on="Date")
ATLGA = pd.merge(Georgia,ATL,how="inner",on="Date")
DFWTX = pd.merge(Texas,DFW,how="inner",on="Date")